.breakfast{
    font-size: 20px;
    font-weight: bold;
    color: orange;
    padding: 4px;
    margin: 5px;
}
.lunch{
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin: 20px;
    padding: 14px;
    
}

.dinner{
    font-size: 25px;
    color: blue;
    font-weight: bold;
    margin: 32px;

}

.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    

}
.item{
    background-color: gray;
    opacity: 0.8;
    padding: 20px;
    height:fit-content;
    border: 2px solid black;
    font-size: 12px;


}
p{
    text-align: center;

}

   
